@use "@angular/material" as mat;
@use "./custom-definitions" as cus;
@use "./theme-variables" as vars;

@include mat.core();

// DARK
.dark-theme {
  @include mat.all-component-colors(vars.$dark-theme);

  .page-wrapper {
    footer,
    header {
      background-color: mat.m2-get-color-from-palette(vars.$dark-primary, 900);
    }
  }
}

// LIGHT
.light-theme {
  @include mat.all-component-colors(vars.$light-theme);

  .page-wrapper {
    footer,
    header {
      background-color: mat.m2-get-color-from-palette(vars.$light-primary, 100);
    }
  }
}

// CUSTOM
.custom-theme {
  @include cus.background;
  @include mat.all-component-colors(vars.$custom-theme);

  .page-wrapper {
    footer,
    header {
      background-color: mat.m2-get-color-from-palette(
        vars.$custom-primary,
        900
      );
    }
  }
}
