@use '@angular/material' as mat;
@use  './custom-definitions' as cus;

$dark-primary: mat.m2-define-palette(mat.$m2-pink-palette);
$dark-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

$light-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$light-accent: mat.m2-define-palette(mat.$m2-pink-palette);
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

$custom-primary: mat.m2-define-palette(cus.$organe-palette);
$custom-accent: mat.m2-define-palette(cus.$steelblue-palette);
$custom-theme: mat.m2-define-dark-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent   
  )
));
