<mat-card>
  <mat-card-header>
    <mat-card-title>Buttons</mat-card-title>
  </mat-card-header>
  <mat-card-content class="buttons">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button target="_blank">Link</a>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Chips</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option>One fish</mat-chip-option>
      <mat-chip-option>Two fish</mat-chip-option>
      <mat-chip-option color="primary" selected>Primary fish</mat-chip-option>
      <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Radio buttons</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group>
      <mat-radio-button value="1" checked>Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Input fields</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Progress bar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Spinner</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-spinner></mat-spinner>
  </mat-card-content>
</mat-card>
